

.layout{
    background: #E5E5E5;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
 
    
}

.main{

    margin: 0 auto;
    width: 100%;
    padding: 0 250px;

    display: flex;
    flex-direction: column;
    flex: 1;
    
    @media (max-width: 1430px) { 
        padding: 0 200px;
    }
    @media (max-width: 950px) { 
        padding: 0 100px;
    }
    @media (max-width: 790px) { 
        padding: 0 50px;
    }
    @media (max-width: 650px) { 
        padding: 0 15px;
    }
}
