
.ant-form{
  
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    margin-top: 34px;
    padding: 48px 32px;
    flex: 1;
    margin-bottom: 67px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    overflow: hidden;

    
    box-shadow: 0px 0.6087964177131653px 2.9332919120788574px 0px rgba(0, 0, 0, 0.0197);

    box-shadow: 0px 1.4630224704742432px 7.049108028411865px 0px rgba(0, 0, 0, 0.0283);
    
    box-shadow: 0px 2.7547414302825928px 13.272845268249512px 0px rgba(0, 0, 0, 0.035);
    
    box-shadow: 0px 4.91398811340332px 23.67648696899414px 0px rgba(0, 0, 0, 0.0417);
    
    box-shadow: 0px 9.19107437133789px 44.28426742553711px 0px rgba(0, 0, 0, 0.0503);
    
    box-shadow: 0px 22px 106px 0px rgba(0, 0, 0, 0.07);
    
    .ant-form-item{
        margin-bottom: 21px;
         div{
            padding: 0;
            margin: 0;
            max-width: 100%;
        }

        label{
            height: 100%;
            padding: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #262626;
        }
        

    }

   
    .form-title{
        text-align: center;
        
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    
        margin-bottom: 21px;
    }
   
    
    .ant-form-item-control-input-content{
        margin: 0;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 0;
    
        
        span{
            display: block;
            text-align: center;
        }
     
    }

    textarea.ant-input {
        min-height: 168px;
    }

    .form-item-list__wrapper{
        position: relative;
    
    }

    .form-item-list__add-button{
        position: absolute;
        bottom: 37px;
        right: 32px;
        button{
            border: 1px solid #1890FF;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 16px;
            line-height: 24px;
            padding: 0 36px;
            color: #1890FF;
        }
      
    }
    .form-item-list__del-button{
        font-size: 16px;
        line-height: 24px;
        color: #F5222D;

        border: 1px solid #F5222D;
        box-sizing: border-box;
        border-radius: 4px;

        padding: 0 36px;
        margin-left: 18px;
    }
    .form-item-list__send-button{
        width: 40%;
        background: #1890FF;
        border-radius: 4px;
    }
}




