.header{
    font-family: 'Inter', sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;

    padding:  9px 22px 15px 22px;

    .header__title{
        color: rgba(0, 0, 0, 0.85);

        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
    }

    .header__user-information{

    }
}