.articles-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex: 1;
    
    li{
        margin-top: 26px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    }
    
}

.ant-pagination{
    
    display: flex;
    justify-content: center;

    padding: 27px 0 18px;

    
}