body{
    // font-family: 'Inter', sans-serif;
    // font-family: 'Open Sans', sans-serif;

    padding: 0;
    margin: 0;

    .ant-spin-spinning{
        position: absolute !important;
        top: 50%;
        left: 50%;
    }
    .ant-popover{
        max-width: 240px;
    }
    .ant-btn {
        height: inherit;
    }
}